.movie{
    margin-top: -35px;
    width: 100%;
    height: 700px;
    background: rgb(170,59,250);
    background: linear-gradient(90deg, rgba(170,59,250,1) 0%, rgba(133,40,199,1) 42%, rgba(92,21,164,1) 84%);
}
img{
    width: 400px;
    height: auto;
}